.bordered{
    margin: auto;
    background-color: darkorange;
    border: 6px solid black
}

.title{
    font-size: 25px;
    text-align: center; 
    color: royalblue;
    border: 30px 0px 0px 0px;
}

.body{
    background-color: darkorange;
    font-size: 5; 
    color: bl;
    margin: auto;
    width: 400px;
    border: 6px solid black
}

.base{
    background-color: royalblue;
}
