.bordered{
    margin: auto;
    background-color: darkorange;
    border: 6px solid black
}

.title{
    font-size: 25px;
    text-align: center; 
    color: royalblue;
    padding: 20px;
    text-shadow: 5px 5px 5px 0px;
}

.body{
    background-color: darkorange;
    font-size: 3;
    margin: auto;
    padding: 20px;
    width: 400px;
    border: 6px solid black
}

.base{
    background-color: royalblue;
}
